.indexBody{
    text-align: center;
    margin: 0px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.body{
    margin: 0px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1{
    color: #7D1935;
    margin: 30px;
}

h2{
    color: #7D1935;
    margin: 30px;
}

div{
    background-color:#FFB5B5;
}

.top-container{
    background-color: #E63E6D;
}

.middle-container{

}

.bottom-container{
    background-color: #B42B51;
    padding: 50px 0 30px;
}

.pro{
    text-decoration: underline;
}

.btn {
    background: blueviolet;
    background-image: -webkit-linear-gradient(top, blueviolet, purple);
    background-image: -moz-linear-gradient(top, blueviolet, purple);
    background-image: -ms-linear-gradient(top, blueviolet, purple);
    background-image: -o-linear-gradient(top, blueviolet, purple);
    background-image: linear-gradient(to bottom, blueviolet, purple);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 15px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }

  .btn:hover {
    background:royalblue;
    text-decoration: none;
  }

.skill-row{
    width: 50%;
    text-align: left;
    margin: 100px auto 100px auto;
    background-color: #FFB5B5;
}

.teacher{
    float: left;
    width: 45%;
    margin-left: 15px;
}

.sleep{
    float: right;
    width: 45%;
    margin-right: 30px;
}

.動漫{
    float: left;
    width: 45%;
    margin-left: 30px;
}

p{
    line-height: 2;
}

h3{
    color: blueviolet;
}

th{
    color: blueviolet;
}

a{
    color: cornflowerblue;
    margin: 10px;
}

.實教{
    width: 66%;
}

.不起眼{
    width: 66%;
}

.食戟{
    width: 66%;
}

.btn1 {
    background: #f70a0a;
    background-image: -webkit-linear-gradient(top, #f70a0a, #700636);
    background-image: -moz-linear-gradient(top, #f70a0a, #700636);
    background-image: -ms-linear-gradient(top, #f70a0a, #700636);
    background-image: -o-linear-gradient(top, #f70a0a, #700636);
    background-image: linear-gradient(to bottom, #f70a0a, #700636);
    -webkit-border-radius: 60;
    -moz-border-radius: 60;
    border-radius: 60px;
    font-family: Arial;
    color: #ffffff;
    font-size: 10px;
    padding: 10px 20px 10px 20px;
    border: solid #000000 1px;
    text-decoration: none;
  }
  
  .btn1:hover {
    background: #e31c65;
    text-decoration: none;
  }